<<<<<<< HEAD
.section {
  padding: 60px 0px;
  margin: 0 auto;

  @media screen and(min-width: 1200px) {
    padding: 94px 0px;
  }
}
=======
.section {
  padding: 60px 0px;
  margin: 0 auto;

  @media screen and(min-width: 1200px) {
    padding: 94px 0px;
  }
}
>>>>>>> 0fad82e623fd0adc2a04ab029724999e325bf571
