<<<<<<< HEAD
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
=======
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
>>>>>>> 0fad82e623fd0adc2a04ab029724999e325bf571
