<<<<<<< HEAD
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --catalogu-gap: 30px;
  --test_veribles: 30px;
}
=======
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --catalogu-gap: 30px;
  --test_veribles: 30px;
}
>>>>>>> 0fad82e623fd0adc2a04ab029724999e325bf571
